<div class="HomeBanner">
    <div class="HomeContent">
        <h1>Cinema <br /> IronHack</h1>
        <a href="/movies">
            <div class="button">Check Movies!</div>
        </a>
    </div>
</div>